body {
    margin: 0;

    width: 100vw;
    height: 100vh;
    padding: 0;
}
main {
    background-image: url(images/natury.jpg);
    height: 100%;
    width: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.boxShadow {
    width: 260px;
    height: 200px;
    background: rgb(177,184,195);
    opacity: 0.6;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    align-content: center;
    align-items: center;
    position: absolute;
    box-shadow: 0px 0px 50px 50px rgb(177,184,195);
    border-radius:10px;
}

div.rain {
    height: 100%;
    background-image: url(images/rain.png);
    animation: rain .3s linear infinite;
}

@keyframes rain {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 20% 100%;
    }
}
.box {
    text-align: center;
    flex-direction: column;
    display: flex;
    align-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
   line-height:30px;
}

.search{
    display:flex;
    flex-direction:column;
}

.Fsearch {
    display: flex;
    flex-direction: column;
}



#nameCity {
    padding: 10px 15px;
    border: none;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0 0 16px 16px;
    color: #424242;
    font-size: 25px;
    outline:none;
}


        