body {
    margin: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    padding: 0;
}

main {

    background-image: url(images/natury.jpg);
    height: 100%;
    width: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.boxShadow {
    width: 260px;
    height: 200px;
    background: rgb(177, 184, 195);
    opacity: 0.65;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    align-content: center;
    align-items: center;
    position: absolute;
    box-shadow: 0px 0px 50px 50px rgb(177, 184, 195);
    border-radius: 10px;
}

/*snow*/

#snow {
    height: 100%;
    width: 100%;
    background-image: url(images/snow.png);
    position: absolute;
    top: 0px;
    left: 0px;
    animation: snow 6s linear infinite;
    filter: blur(2px);
    background-size: 50%;
}

@keyframes snow {
    0% {
        background-position: 400px -300px;
    }

    100% {
        background-position: 100px 650px;
    }
}

#snow2 {
    height: 100%;
    width: 100%;
    background-image: url(images/snow.png);
    position: absolute;
    top: 0px;
    left: 0px;
    animation: snow2 5s linear infinite;
    filter: blur(3px);
    background-size: 70%;
}

@keyframes snow2 {
    0% {
        background-position: 0 -200px;
    }

    100% {
        background-position: 300px 650px;

    }
}

#snow3 {
    height: 100%;
    width: 100%;
    background-image: url(images/snow.png);
    position: absolute;
    top: 0px;
    left: 0px;
    animation: snow3 3s linear infinite;
    filter: blur(5px);
    background-size: 110%;
}

@keyframes snow3 {
    0% {
        background-position: 0px 50px;
    }

    100% {
        background-position: 100px 650px;

    }
}

/*image rain*/

#rain {
    height: 100%;
    background-image: url(images/rain.png);
    animation: rain .3s linear infinite;
    background-color: black;
    opacity: 0.4;
}

@keyframes rain {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 20% 100%;
    }
}

/* animation sun */

#sun {
    visibility: hidden;
    position: absolute;
    top: 5%;
    left: 5%;
    width: 10vw;
    height: 10vw;
    background-color: yellow;
    opacity: 0.5;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #ffde0080,
        0 0 0 20px #ffde0040,
        0 0 0 30px #ffde0020,
        0 0 0 40px #ffde0010,
        0 0 0 50px #ffde0000,
        0 0 40px 50px #ffde0080;
    animation: sunny 5s infinite linear forwards;

}

@keyframes sunny {


    50% {
        box-shadow: 0 0 0 5px #ffde0080,
            0 0 0 10px #ffde0040,
            0 0 0 15px #ffde0020,
            0 0 0 20px #ffde0010,
            0 0 0 25px #ffde0000,
            0 0 80px 25px #ffde0080;
    }


}

/*animation storm*/

#storm {
    background-color: white;
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    animation: storm 15s infinite linear;

}

@keyframes storm {
    0% {
        opacity: 0;
    }

    10% {
        opacity: .3;
    }

    20% {
        opacity: .7;
    }

    30% {
        opacity: .2;
    }

    40% {
        opacity: .8;
    }

    50% {
        opacity: .2;
    }

    60% {
        opacity: .6;
    }

    70% {
        opacity: 0;
    }

    80% {
        opacity: .3;
    }

    90% {
        opacity: .5;
    }

    100% {
        opacity: .2;
    }
}

.box {
    text-align: center;
    flex-direction: column;
    display: flex;
    align-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    line-height: 60px;
}

.search {
    display: flex;
    flex-direction: column;
}

.Fsearch {
    display: flex;
    flex-direction: column;
}



#nameCity {
    padding: 10px 15px;
    border: none;
    background-color: rgba(255, 255, 255, 0.45);
    border-radius: 0 0 16px 16px;
    color: #424242;
    font-size: 25px;
    outline: none;
}


#Time {
    font-size: 40px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-variant: small-caps;
    text-transform: capitalize;
    color: #1D5D72;
    opacity: 0.75;
    font-weight: 600;
    text-shadow: 4px 3px rgba(70, 100, 100, 0.5);
}

#cel {
    font-size: 45px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-variant: small-caps;
    text-transform: capitalize;
    color: #755C1E;
    font-weight: 600;
    text-shadow: 4px 3px rgba(70, 100, 100, 0.5);
}

#Conditions {
    font-size: 35px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-variant: small-caps;
    text-transform: capitalize;
    color: #755C1E;
    font-weight: 600;
    text-shadow: 4px 3px rgba(70, 100, 100, 0.5);
}

#city {
    font-size: 60px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-variant: small-caps;
    text-transform: capitalize;
    color: #1D5D72;
    opacity: 0.75;
    font-weight: 800;
    text-shadow: 4px 3px rgba(70, 100, 100, 0.5);
    margin-top: 10px;
}